<style>
    h1 {
        font-weight: bold;
        background-color: rebeccapurple;
        color: white;
        padding: 20px;
        border-radius: 10px;
    }
</style>
@{
    ViewData["Title"] = "Page3";
}

<h1>Beverages</h1>
<div>
    <ol>
        <li>Coffee</li>
        <li>Coke</li>
        <li>Tea</li>
        <li>Beer</li>
        <li>Wine</li>
        <li>Whiskey</li>
    </ol>
</div>

